[submodule "scritps/toolbox"]
	path = scritps/toolbox
	url = https://github.com/ninjawil/toolbox.git
[submodule "scripts/airtable"]
	path = scripts/airtable
	url = https://github.com/nicocanali/airtable-python.git
